<app-panel-top></app-panel-top>
<div class="big-container">
  <div class="realms">
    <div class="small-container">
      <div class="row">
        <div class="col-4">
          <img src="https://i.postimg.cc/Y25m1JCJ/elder-scrols1.jpg" alt="tes">
          <button type="button" class="pixel-box"  data-toggle="modal" data-target="#exampleModal"><p> the elder scrolls</p></button>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">The Elder Scrolls</h5>
              </div>
              <div class="modal-body">
                The Elder Scrolls (w skrócie TES) – seria komputerowych gier fabularnych stworzona przez studio Bethesda Softworks.
                Prace nad serią rozpoczęły się w 1992, wcześniej zespół tworzył przede wszystkim gry sportowe. W 1994 został wydany
                The Elder Scrolls: Arena na system MS-DOS, który zapoczątkował serię The Elder Scrolls. Gry z serii charakteryzują się
                swobodą w działaniu, co jest wynikiem specjalnie zaprojektowanego świata gry. Świat gry to ogromny tętniący życiem
                kontynent o nazwie Tamriel. Większość obszaru gry jest dostępna dla graczy już na samym początku rozgrywki. Seria
                oferuje wiele możliwości, począwszy od personalizacji postaci, skończywszy na rozwijaniu umiejętności czy wykonywaniu
                zadań.
              </div>
              <div class="modal-footer">
                <button type="button" class="pixel-box" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <img src="https://i.postimg.cc/mrmb8FNP/witch1.jpg" alt="witcher">
          <button type="button" class="pixel-box" data-toggle="modal" data-target="#exampleModal2">
            <p>the witcher</p>
          </button>
        </div>
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Wiedźmin</h5>
              </div>
              <div class="modal-body">
                Wiedźmin (wydany pod nazwą międzynarodową The Witcher, w Czechach jako Zaklínač, w Rosji jako Wied´mak (Ведьмак)) –
                komputerowa gra fabularna w konwencji fantasy, wyprodukowana przez CD Projekt Red i wydana przez Atari. Jej premiera
                odbyła się 26 października 2007 roku na platformie Microsoft Windows, natomiast w kwietniu 2012 roku ukazała się jej
                wersja na komputery z systemem OS X.

                Akcja gry toczy się w świecie wiedźmina, stworzonym przez Andrzeja Sapkowskiego. Głównym bohaterem gry, w którego wciela
                się gracz, jest Geralt z Rivii – jeden z wiedźminów, czyli postaci o nadludzkich zdolnościach, zajmujących się zwykle
                zabijaniem potworów atakujących siedliska ludzi. Po wydarzeniach z Sagi o wiedźminie Geralt, pozbawiony pamięci, próbuje
                na nowo odnaleźć się w mrocznej rzeczywistości świata gry, pozbawionej wyraźnego podziału na dobro i zło. W miarę
                rozwoju gry Geralt jest zmuszony do podjęcia licznych wyborów moralnych, rzutujących na dalsze losy napotkanych
                bohaterów niezależnych. Pomimo próby oddania klimatu książek Sapkowskiego, komputerowy Wiedźmin nie uzyskał jednak
                oficjalnego wsparcia ze strony pisarza.
              </div>
              <div class="modal-footer">
                <button type="button" class="pixel-box" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <img src="https://i.postimg.cc/Y0WMrDcF/azeroth1.jpg" alt="wow">
          <button type="button" class="pixel-box" data-toggle="modal" data-target="#exampleModal3">
            <p> world of warcraft</p>
          </button>
        </div>
        <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">World of Warcraft</h5>
              </div>
              <div class="modal-body">
                World of Warcraft (WoW) – gra komputerowa z gatunku MMORPG wyprodukowana i wydana przez Blizzard Entertainment w 2004
                roku. Jej akcja toczy się kilka lat po wydarzeniach przedstawionych w grze Warcraft III: The Frozen Throne, w świecie
                Azeroth. World of Warcraft jest czwartą (nie licząc dodatków) grą w uniwersum Warcrafta.
              </div>
              <div class="modal-footer">
                <button type="button" class="pixel-box" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <img src="https://i.postimg.cc/L8RYWLfD/fable1.jpg" alt="fable">
          <button type="button" class="pixel-box" data-toggle="modal" data-target="#exampleModal4">
            <p>fable</p>
          </button>
        </div>
        <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Fable</h5>
              </div>
              <div class="modal-body">
                Fable – fabularna gra akcji stworzona przez Lionhead Studios, wydana pierwotnie 14 września 2004 roku na konsolę Xbox.
                20 września 2005 na platformie Microsoft Windows zadebiutowała wersja rozszerzona, Fable: Zapomniane opowieści (ang. The
                Lost Chapters), w późniejszym czasie wydanej również na Xboksa, Xboksa 360 i macOS-a. W 2008 roku gra doczekała się
                kontynuacji, Fable II, a w 2010 zwieńczenia trylogii w postaci Fable III.
              </div>
              <div class="modal-footer">
                <button type="button" class="pixel-box" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <section class="parallax parallax-1" id="baladash">
        <h1 id="hi1">AND EVEN MORE</h1>
      </section>
      <h2 class="title">opinia</h2>
      <div class="testimonial">
        <div class="another-small-container">
          <div class="row">
            <div class="col-3">
              <i class="fa fa-quote-left"></i>
              <p>
                Tranzakcja przebiegła szybko, towar dobrze zabezpieczony, nie mam żadnych zarzutów. Polecam.
              </p>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <img class="pixel-borders" src="https://i.postimg.cc/W3MCGPXb/OPLATEK-na-tort-SUPER-MARIO-gruby-nasyc-kol-24h.jpg" alt="Mario">
              <h3>Mario</h3>
            </div>
            <div class="col-3">
              <i class="fa fa-quote-left"></i>
              <p>
                Gdyby nie nachalne spamowanie postami o wystawieniu opinii byłoby <br> super.
              </p>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <img class="pixel-borders" src="https://i.postimg.cc/5yPmWPsM/pacman.png" alt="Pac-Man">
              <h3>Pac-Man</h3>
            </div>
            <div class="col-3">
              <i class="fa fa-quote-left"></i>
              <p>
                Bardzo rzetelni sprzedawcy, z prędkością światła zrealizowali moje zamówienie:)
              </p>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <img class="pixel-borders" src="https://i.postimg.cc/Gmvsk7vh/unnamed.jpg" alt="Sonic">
              <h3>Sonic</h3>
            </div>
          </div>
        </div>

      </div>
      <div class="brands">
        <div class="small-container">
          <div class="row">
            <div class="col-5">
              <img src="" alt="">
            </div>
            <div class="col-5">
              <img src="" alt="">
            </div>
            <div class="col-5">
              <img src="" alt="">
            </div>
            <div class="col-5">
              <img src="" alt="">
            </div>
            <div class="col-5">
              <img src="" alt="">
            </div>
            <div class="col-5">
              <img src="" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


