<app-panel-top></app-panel-top>
<div class="products">
  <div class="con2">
    <button routerLink="/landing" class="pixel-box">Powrót</button>
    <h2 class="title">GAMES</h2>
    <table id="ProductsTable">
      <thead *ngIf="this.mainService.products">
      </thead>
      <tbody>
        <ng-container *ngFor="let product of this.mainService.products?.productsTable">
          <tr style="background-color: whitesmoke;">
            <td><img src="{{product.thumbnail}}" alt=""></td>
            <td id="resize">
              <ul>
                <li>Tytuł: {{product.title}}</li>
                <li>Cena: {{product.price}}</li>
                <li>Kategoria: {{product.category}}</li>
              </ul>
            </td>
            <td>
              <button (click)="addToCart(product)" class="pixel-box">Do koszyka</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    </div>
  </div>
